
.main-index-image {
    width: 100%;
    padding: 0px;
}

h1 {
    color: #BE1C4D;
    font-size: 2.5rem !important;
}

h2 {
    color: #BE1C4D;
}

h3 {
    color: #BE1C4D;
}

h4 {
    color: black;
    font-size: 16px;
}

img {
    padding: 10px;
    background-color: rgba(203, 203, 203, 0);
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contacts {
    color: #e580ad;
    font-size: 20px;
}

.coach-index-background {
    /*background-color: #cbcbcb;*/
    /*background-color: #cbcbcb;*/
    margin-bottom: 15px;
}

.main-index-image {
    width: 100%;
    padding: 0px;
}

.bg {
    background-image: url("/images/dance-white.jpg");
    background-size: 100%;
}

.filter {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img.background {
    -webkit-filter: blur(35px); /* Safari */
    filter: blur(35px);
}

.black-white {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.padding-top {
    padding-top: 20px;
}

.margin-top-side {
    margin-top: 20px;
}

.sides {
    background-color: rgba(255, 255, 255, 0.75);
}

.purpure-color {
    color: #e580ad;
}

.right {
    float: right;
}

.border-bottom-sides {
    border-bottom: 2px solid #e580ad !important;
}

.fixed-left {
    width: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.fixed-right {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

.height-4 {
    height: 50%;
}

.height-3 {
    height: 68%;
}

.height-2 {
    height: 82%;
}

.height-1 {
    height: 100%;
}

.side-text-align {
    text-align: left;
}

.side-text-bold {
    font-weight: bold;
    margin-bottom: 0px;
}

.side-text-margin {
    margin-bottom: 0px;
}

.side-text-size {
    font-size: 15px;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0) !important;
}

.input-free-lesson {
    width: 100%;
    margin: 5px;
    font-family: "Roboto Light", serif;
}